/* LAN-KEY Gaming Style Sheet: Angela Reid 2/5/06 */

#head, address {margin-left: 120px}
#head {border-bottom: 1px solid black}

address {font-style: normal; font-size: 8pt; color: black; text-align: center;
          border-top: 1px solid gold; clear: both}
address {margin-left: 2px}

#main {width: 70%; float: left; border-left: 1px solid black; padding-left: 10px}
#main {margin-left: 150px}

#main, #pref {font-style: normal; font-size: 10pt}

#links {position: absolute; left: 0px; top: 0px;} 
#links {width: 115px; margin-top: 0px}
#links a {display: block; font-family: sans-serif; color: white; background-color: gold;
           font-size: 8pt; padding: 2px; margin: 0; border: 5px solid gold}
#links a:link {text-decoration: none}
#links a:visited {text-decoration: none}
#links a:hover {color: black; border: 5px outset gold; text-decoration:none}
#links a:active {color: black; border: 5px inset gold; text-decoration: none}

#pref {width: 70%; float: left; border-left: 1px solid black; padding-left: 10px}
#pref {margin-left: 150px}